.clearfix:before,
.clearfix:after
.row:before,
.row:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
 
.clearfix:after,
.row:after {
  clear: both;
}
 
.clearfix,
.row {
  zoom: 1;
}

[class*='col_'] {
	position: relative;
	display: block;
	float: left;
	padding: .5em;
	@include box-sizing(border-box);
}
.col_1 {
	width: 100% / 12 * 1;
}
.col_2 {
	width: 100% / 12 * 2;
}
.col_3 {
	width: 100% / 12 * 3;
}
.col_4 {
	width: 100% / 12 * 4;
}
.col_5 {
	width: 100% / 12 * 5;
}
.col_6 {
	width: 100% / 12 * 6;
}
.col_7 {
	width: 100% / 12 * 7;
}
.col_8 {
	width: 100% / 12 * 8;
}
.col_9 {
	width: 100% / 12 * 9;
}
.col_10 {
	width: 100% / 12 * 10;
}
.col_11 {
	width: 100% / 12 * 11;
}
.col_12 {
	width: 100% / 12 * 12;
}