!!!
%html
	%head
		%title Slide One
	%body
		.col_4
			:markdown

				![Upbeet Logo](assets/img/upbeetLogo.png)
		.col_4
			:markdown

				![Abertay University Logo](assets/img/uadLogo.png)
		.col_4
			:markdown

				![Big Lottery Fund Logo](assets/img/blfLogo.png)