!!!
%html
	%head
		%title Slide Template
	%body
		.col_6
			:markdown

				Lorem ipsum Nisi adipisicing deserunt velit ad nisi occaecat nisi sed dolore incididunt in.
		.col_6
			:markdown

				Lorem ipsum Do dolore pariatur veniam aute adipisicing ad labore incididunt aute aliquip in amet nostrud consectetur nostrud eiusmod consequat.
		.col_12
			:markdown

				Lorem ipsum Ullamco enim sunt enim nostrud exercitation nulla ut elit cupidatat dolore sed dolore ut commodo velit veniam laboris amet.